@{
    ViewBag.Title = "Home Page";
}
<script>
    $('#sandbox-container .input-daterange').datepicker({
    });
</script>
<div class="row">
    <div class="fill-screen" style=" background-image:url(../../Content/img/night-bg1.jpg)">
        @*<h1>Rentalis</h1>
            <p class="lead">Wypożyczalnia samochodów online</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">O nas &raquo;</a></p>*@
    </div>
</div>
<div class="row content-filler">
</div>
<div class="row">
    <div class="fill-screen fixed-attachment" style=" background-image:url(../../Content/img/night-bg.jpg)">
    </div>
</div>
<div class="row content-filler">
</div>

@*<div class="row">
    <h2>Nasze samochody : <a href="/Home/Cars" class="btn btn-primary">Zobacz</a> </h2>

    <h2>Wybierz termin wypożyczenia w celu sprawdzenia dostępności samochodów : </h2>
    <form action="" method="post">
        <div>
            <label for="from">Od:</label>
            <input id="from" type="datetime-local" name="dateFrom" required>

            <label for="to">Do:</label>
            <input id="to" type="datetime-local" name="dateTo" required>
        </div>
        <div>
            <input type="submit" value="Sprawdź dostępność" class="btn btn-primary">
        </div>
    </form>

    <div>
        <a href="/Home/Cars">Lub zobacz wszystkie dostępne samochody :</a>
    </div>
</div>*@

@section Scripts {
    <script>
        $(function () {
            $(window).on("load resize", function () {
                $(".fill-screen").css("height", window.innerHeight);
            });
        });
    </script>
}